[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-environ = "*"
packaging = "*"
pytest-django = "*"
pytest = "*"
coreschema = "*"
coreapi = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2 = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
